html       { border: 0px;
             margin: 0px;
             padding: 0px;
             }

.corner    { width: 200px;
             height: 80px;
             text-align: center;
             }
.navbar    { background-color: rgb(110,139,61);
             padding-top: 2em;
             }
.banner    { background-color: rgb(110,139,61);
             color: rgb(255,236,176);
             padding-left: 2em;
             }
.banner h2 { font-size: 200%; }
.content   { padding: 2em; }

dl dt      { font-weight: bold; }


.content thead { background-color: rgb(110,139,61);
                 color: rgb(255,236,176);
                 }

.content td,
.content th    { padding: .2em;
                 margin: 0em;
                 border-width: 0px;
                 vertical-align: baseline;
                 border-bottom: 2px solid rgb(110,139,61);
                 }

.content li    { margin: 0em;
                 padding-bottom: 0.75em;
                 }

.filename  { font-family: sans-serif; }

/* These margin and padding settings are tedious at best.  The idea is
   to make sure we can put news items on the site that aren't just a
   ordered or unordered list, and have it not look too ugly.
*/
dl dd ul,
dl dd ul li    { padding-left: 0em;
             margin-left: 0em; }

dl dd      { margin-left: 2em; }

dl, ol, ul,
dl dt      { margin-top: 0em;
             margin-bottom: 0em;
             padding-top: 0em;
             padding-bottom: 0em; }

p          { margin-top: 0em;
             margin-bottom: 1em;
             padding-top: 0em;
             padding-bottom: 0em; }

li,
dl dd      { margin-top: 0em;
             margin-bottom: 0.5em; }
