#                          __  __            _
#                       ___\ \/ /_ __   __ _| |_
#                      / _ \\  /| '_ \ / _` | __|
#                     |  __//  \| |_) | (_| | |_
#                      \___/_/\_\ .__/ \__,_|\__|
#                               |_| XML parser
#
# Copyright (c) 2021-2022 Sebastian Pipping <sebastian@pipping.org>
# Licensed under the MIT license:
#
# Permission is  hereby granted,  free of charge,  to any  person obtaining
# a  copy  of  this  software   and  associated  documentation  files  (the
# "Software"),  to  deal in  the  Software  without restriction,  including
# without  limitation the  rights  to use,  copy,  modify, merge,  publish,
# distribute, sublicense, and/or sell copies of the Software, and to permit
# persons  to whom  the Software  is  furnished to  do so,  subject to  the
# following conditions:
#
# The above copyright  notice and this permission notice  shall be included
# in all copies or substantial portions of the Software.
#
# THE  SOFTWARE  IS  PROVIDED  "AS  IS",  WITHOUT  WARRANTY  OF  ANY  KIND,
# EXPRESS  OR IMPLIED,  INCLUDING  BUT  NOT LIMITED  TO  THE WARRANTIES  OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN
# NO EVENT SHALL THE AUTHORS OR  COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
# DAMAGES OR  OTHER LIABILITY, WHETHER  IN AN  ACTION OF CONTRACT,  TORT OR
# OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE
# USE OR OTHER DEALINGS IN THE SOFTWARE.

name: Ensure realistic minimum CMake version requirement

on:
  pull_request:
  push:
  schedule:
    - cron: '0 2 * * 5'  # Every Friday at 2am

jobs:
  checks:
    name: Ensure realistic minimum CMake version requirement
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3.0.0

    - name: Install ancient CMake
      run: |
        set -ux

        needed_cmake_version="$(sed -n 's/cmake_minimum_required(VERSION \(.*\))/\1/p' expat/CMakeLists.txt)"

        installer_filename="cmake-${needed_cmake_version}-linux-x86_64.sh"
        download_url="https://github.com/Kitware/CMake/releases/download/v${needed_cmake_version}/${installer_filename}"
        wget --no-verbose "${download_url}"

        chmod +x "${installer_filename}"
        mkdir ~/.local/

        ./"${installer_filename}" --prefix="${HOME}"/.local/ --skip-license

        hash cmake  # or the running shell will keep using the cached old location
        present_cmake_version="$(cmake --version | sed -n 's/cmake version \(.*\)/\1/p')"
        [[ ${present_cmake_version} = ${needed_cmake_version} ]]

    - name: Build libexpat using ancient CMake
      run: |
        set -ux
        mkdir expat/build
        cd expat/build
        cmake --version
        cmake ..
        make VERBOSE=1 all test install DESTDIR="${PWD}/ROOT/"
        find ROOT/ -not -type d | sort
